MSSQL_SA_PASSWORD=your_strong_password
POSTGRES_SOURCE_USER=postgres
POSTGRES_SOURCE_PASSWORD=your_password
POSTGRES_SOURCE_DB=source_db
POSTGRES_DWH_USER=dwh_user
POSTGRES_DWH_PASSWORD=your_password
POSTGRES_DWH_DB=warehouse_db