MSSQL_SA_PASSWORD=your_strong_password
POSTGRES_SOURCE_USER=postgres
POSTGRES_SOURCE_PASSWORD=your_password
POSTGRES_SOURCE_DB=source_db
POSTGRES_DWH_USER=dwh_user
POSTGRES_DWH_PASSWORD=your_password
POSTGRES_DWH_DB=warehouse_db
AIRFLOW_CONN_MSSQL_SOURCE=mssql+pymssql://sa:your_password@mssql_source:1433/WideWorldImporters
AIRFLOW_CONN_POSTGRES_SOURCE=postgresql://postgres:your_password@postgres_source:5432/source_db
AIRFLOW_CONN_POSTGRES_DWH=postgresql://dwh_user:your_password@postgres_dwh:5432/warehouse_db